<!DOCTYPE html>
<html>
      <head>
           <title>title 1</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body class="body">
        
           <h2>{{>header}}</h2>
           
         
            <form id="form1">
            <input type="text" id="address" placeholder="Enter your country">
            <button id="find-weather">Find Weather</button>
        </form>

        <p id="welcome">welcome to our website. To know your country's weather, latitude and longitude, kindly enter the nameof your country</p>
          <p id="location"> </p>
           <p id="latitude"> </p>
          <p id="longitude"> </p>
           <p id="forecast"></p>
          <p id="error"> </p>

          

       <script src="js/script.js"></script>
          
      </body>
</html>