<!DOCTYPE html>
<html>
      <head>
         <title>title 1</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>
        
          <h2 class="hedt1"> {{title}} page contents </h2>

          <div class="header1" >
            <a href="/">HOME</a>
            <a href="/service">SERVICE</a>
            <a href="/team">TEAM</a>
            <a href="/Employees">Employees</a>
             <a href="/FAQ">FAQ</a>
          </div>
          
      </body>
</html>